name: CI

on:
  pull_request:

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: 'Pull Code'
        uses: actions/checkout@main
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: 'Build and Push Image'
        run: |
          docker build . --tag ghcr.io/${{ github.event.pull_request.user.login }}/downdetector-exporter:latest
          docker push ghcr.io/${{ github.event.pull_request.user.login }}/downdetector-exporter:latest
