name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: read
  packages: write

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag' && github.event.base_ref == 'refs/heads/master'
    steps:
      - name: 'Pull Code'
        uses: actions/checkout@main

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build and Push Image'
        run: |
          IMAGE_NAMESPACE=$(echo "$GITHUB_REPOSITORY_OWNER" | tr '[:upper:]' '[:lower:]')
          docker build \
            --build-arg VERSION=${{ github.ref_name }} \
            --tag ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:${{ github.ref_name }} \
            --tag ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:latest \
            .
          docker push ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:${{ github.ref_name }}
          docker push ghcr.io/${IMAGE_NAMESPACE}/downdetector-exporter:latest
  release:
    needs: docker-build-push
    uses: voxpupuli/gha-puppet/.github/workflows/release.yml@v1
    permissions:
      contents: write
